@import url('https://unpkg.com/css.gg@2.0.0/icons/css/briefcase.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/clipboard.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/home.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/database.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/file-document.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/organisation.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/mail.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/software-download.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.root{
    --background-color: black;
}
* {
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
  }
body{
    display:grid;
    grid-template-columns: 6% 95%;
}
/*navigation*/
body:has(.navigation:hover) {
    grid-template-columns: 15% 85%;
  }
.navigation:hover{
    width:15%;
}
.navigation{
    background-color: black;
    display:flex;
    height:100%;
    width:6%;
    position: fixed;
}
.nav-links{
    margin:auto 35%;
    width:100%;
    display:grid;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    row-gap: 50px;
}
.nav-icon{
    text-decoration: none;
    color:white;
    font-size: 30px;
    cursor: pointer;
}

header{
    width:100%;
    height:80vh;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(8, 0, 0) 70%), url('https://i.ibb.co/Vw6zW1F/IMG-0536r.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-size: 70%, 80%;
    display:grid;
    grid-template-columns: 40% 60%;
}
.header-block{
    color:white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:7%;
    padding-bottom:15%;
    display:grid;
    grid-template-rows: 2fr .5fr 2fr .5fr 1fr;
}
.header-block h1{
    display:flex;
    width:100%;
    font-size: 400%;
    align-items: flex-end;
}
.sub-descriptions{
    display:grid;
    width:50%;
    grid-template-columns: 3fr 1.5fr .7fr .7fr;
    margin:none;
}
#sub-desc{
    color:white;
}
.star {
    position: relative;
    font-size: 10px;
    
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: .9em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em solid #FC0;
    border-left:  .3em solid transparent;
}
.star:before, .star:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
  }
  
  .star:after {  
    transform: rotate(35deg);
  }
  .like-count{
    background-color: rgb(110, 109, 109);
    height:20px;
    text-align:center;
    border-radius: 1.5px;
  }
.description{
    margin: 0 0 10px 0;
    font-size:20px;

}
.based-on span{
    font-weight: bold;
}
.header-box-buttons{
    width:60%;
    height:80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#h-button{
    background-color:rgb(230, 35, 35);
    border: none;
    border-radius: 50px;
    width:80%;
    color: white;
    font-weight: bold;
    margin: 10px 0 0 0;
    
}
/*logo*/
.logo{
    margin-left: 50%; 
    margin-top:2%;
    width:40%;
}
/*Previews*/
#previews{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap:5px;
    overflow-y: scroll;
    background-color: black;
}
#previews::-webkit-scrollbar{
    display: none;
  }
.section-title{
    font-size:30px;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:10px;
    background-color: black;
    color:white;
}
@media (max-width:1280px){
    
/*navigation*/
.navigation{
    background-color: black;
    opacity: 80%;
    display:flex;
    height:100%;
    width:5%;
    position: fixed;
}
.nav-links{
    margin:auto 35%;
    width:100%;
    display:grid;
    grid-template-rows: 1fr;
    font-size: 30px;
    color: white;
    text-align: center;
    align-items: center;
    row-gap: 50px;
}
/*header block*/
header{
    width:100%;
    height:80vh;
    background-color: black;
    display:grid;
    grid-template-columns: 40% 60%;
}
.header-block{
    color:white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:15%;
    padding-bottom:15%;
    display:grid;
    grid-template-rows: 2fr .5fr 3fr 1fr;
}
.header-block h1{
    display:flex;
    width:100%;
    font-size: 80%;
    align-items: flex-end;
}
.sub-descriptions{
    display:grid;
    width:50%;
    grid-template-columns: 1fr 1fr 1fr;
    margin:none;
}
.description{
    margin: 0;
    font-size:20px;
}
#sub-desc{
    color:white;
}
.header-box-buttons{
    width:60%;
    height:80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#h-button{
    background-color:rgb(230, 35, 35);
    border: none;
    border-radius: 50px;
    width:80%;
    color: white;
}

/*logo*/
.logo{
    margin-left: 50%; 
    margin-top:2%;
    width:40%;
    
}
/*Previews*/
#previews{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.section-title{
    font-size:30px;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:10px;
    background-color: black;
    color:white;
}
#previews::-webkit-scrollbar{
    display: none;
  }
}
@media (max-width:1024px){
    
/*navigation*/
.navigation{
    background-color: black;
    opacity: 80%;
    display:flex;
    height:100%;
    width:5%;
    position: fixed;
}
.nav-links{
    margin:auto 20%;
    width:100%;
    display:grid;
    grid-template-rows: 1fr;
    font-size: 30px;
    color: white;
    text-align: center;
    align-items: center;
    row-gap: 50px;
}
/*header block*/
header{
    width:100%;
    height:80vh;
    background-color: black;
    display:grid;
    grid-template-columns: 60% 40%;
}
.header-block{
    color:white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:15%;
    padding-bottom:15%;
    display:grid;
    grid-template-rows: 2fr .5fr 3fr .5fr 2fr;
}
.header-block h1{
    display:flex;
    width:100%;
    font-size:400%;
    align-items: flex-end;
}
.sub-descriptions{
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin:none;
}
.description{
    margin: 0 0 0px 0;
    font-size:20px;
}
#sub-desc{
    color:white;
}
.header-box-buttons{
    width:90%;
    height:70%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:1px;
}
#h-button{
    background-color:rgb(230, 35, 35);
    border: none;
    border-radius: 50px;
    width:90%;
    color: white;
}

/*logo*/
.logo{
    margin-left: 20%; 
    margin-top:2%;
    width:70%;
    
}
.section-title{
    font-size:30px;
   
    background-color: black;
    color:white;
}
/*Previews*/
#previews{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap:5px;
    overflow: scroll;
}
#previews::-webkit-scrollbar{
    display: none;
  }
}
@media (max-width:400px){
/*navigation*/
.navigation{
    background-color: black;
    opacity: 80%;
    display:flex;
    height:100%;
    width:5%;
    position: fixed;
}
.nav-links{
    margin:auto;
    width:100%;
    display:grid;
    grid-template-rows: 1fr;
    font-size: 30px;
    color: white;
    text-align: center;
    align-items: center;
    row-gap: 20px;
}
/*header block*/
header{
    width:100%;
    height:80vh;
    background-color: black;
    display:grid;
    grid-template-columns: 40% 60%;
}
.header-block{
    color:white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:15%;
    padding-bottom:15%;
    display:grid;
    grid-template-rows: 2fr .5fr 3fr 1fr;
}
.header-block h1{
    display:flex;
    width:100%;
    font-size: 80%;
    align-items: flex-end;
}
.sub-descriptions{
    display:grid;
    width:50%;
    grid-template-columns: 1fr 1fr 1fr;
    margin:none;
}
.description{
    margin: 0;
    font-size:20px;
}
#sub-desc{
    color:white;
}
.header-box-buttons{
    width:60%;
    height:80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#h-button{
    background-color:rgb(230, 35, 35);
    border: none;
    border-radius: 50px;
    width:80%;
    color: white;
}

/*logo*/
.logo{
    margin-left: 50%; 
    margin-top:2%;
    width:40%;
    
}
/*Previews*/
#previews{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.section-title{
    font-size:30px;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:10px;
    background-color: black;
    color:white;
}
}

